<!-- This is navbar  -->
    <section class="first sticky-top" id="navbar">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <div class="pic d-flex justify-content-center" style="height: 50px; width: 50px;">
                    <a href="./"><img src="image/Niraj1.png" alt="" class="img-fluid pic"></a>
                </div>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <div class="row">
                            <li class="nav-item col-6 col-lg-2 col-md-4 d-flex justify-content-center">
                                <a class="nav-link active text-danger fw-bold" aria-current="page" href="/">HOME</a>
                            </li>
                            <li class="nav-item col-6 col-lg-2 col-md-4 d-flex justify-content-center">
                                <a class="nav-link text-light fw-bold" href="/about">ABOUT</a>
                            </li>
                            <li class="nav-item col-6 col-lg-2 col-md-4 d-flex justify-content-center">
                                <a class="nav-link text-light fw-bold" href="#SKILL">SKILL</a>
                            </li>
                            <li class="nav-item col-6 col-lg-2 col-md-4 d-flex justify-content-center">
                                <a class="nav-link text-light fw-bold" href="#WORK">WORK</a>
                            </li>
                            <li class="nav-item col-6 col-lg-2 col-md-4 d-flex justify-content-center">
                                <a class="nav-link text-danger fw-bold" href="#RESUME">RESUME</a>
                            </li>
                            <li class="nav-item col-6 col-lg-2 col-md-4 d-flex justify-content-center">
                                <a class="nav-link text-light fw-bold" href="#CONTACT">CONTACT</a>
                            </li>

                            <li class="nav-item col-6 col-lg-2 col-md-4 d-flex justify-content-center">
                                <a class="nav-link text-light fw-bold" href="">{{Name}}</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
